/*
Error: Illegal nesting: Only properties may be nested beneath properties.
        on line 4 of sass/components.sass

1: @font-face
2:   font-family: 'roadrage'
3:   src:
4:     url(/Fonts/Road_Rage.otf)
5:     format('opentype')
6:   
7: 
8: .glass-button
9:   text-decoration: none

Backtrace:
sass/components.sass:4
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:59:in `visit_root'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:35:in `css_tree'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/listener.rb:252:in `call'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/listener.rb:252:in `on_change'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `call'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `report_changes'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Illegal nesting: Only properties may be nested beneath properties.\A         on line 4 of sass/components.sass\A \A 1: @font-face\A 2:   font-family: 'roadrage'\A 3:   src:\A 4:     url(/Fonts/Road_Rage.otf)\A 5:     format('opentype')\A 6:   \A 7: \A 8: .glass-button\A 9:   text-decoration: none"; }
