body {
  background: url(/img/zwartevilt.png);
  margin: 0px;
  padding: 0px;
  position: relative; }
  body .intro {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-sizing: border-box;
    height: 100vh;
    background-size: cover; }
    body .intro .skully {
      width: 300px;
      height: auto;
      margin-bottom: 100px; }
    body .intro .static-triangle {
      position: relative;
      width: 15px;
      height: auto;
      left: 15px; }
    body .intro .triangle {
      position: relative;
      width: 15px;
      height: auto;
      animation-name: flyDown;
      animation-delay: 4s;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
@keyframes flyDown {
  0% {
    top: -10px;
    opacity: 1; }
  50% {
    top: 200px;
    opacity: 0; }
  100% {
    top: -5px;
    opacity: 0; } }
  body header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #171717;
    padding-bottom: 115px;
    box-shadow: 0px -2px 10px 3px #000;
    z-index: 100;
    position: relative; }
    body header .logo {
      text-align: center;
      font-family: Road Rage;
      font-size: 6.2em;
      color: #E7E7E7;
      margin-bottom: 0px;
      padding: 0; }
    body header nav {
      border-radius: 24px;
      margin: 0 auto;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 8px 0px;
      list-style: none; }
      body header nav li {
        margin: 0; }
        body header nav li a {
          font-family: helveticaneue-ultralight;
          color: #E7E7E7;
          text-decoration: none;
          font-size: 1.5em;
          padding: 2.5px 45px;
          margin: 0px;
          transition: 0.3s; }
          body header nav li a:hover {
            background: #E7E7E7;
            color: #171717; }
        body header nav li .middle {
          margin: 0;
          border-top: 1px solid #E7E7E7;
          border-bottom: 1px solid #E7E7E7; }
        body header nav li .left {
          border: 1px solid #E7E7E7;
          border-radius: 25px 0 0 25px; }
        body header nav li .right {
          border: 1px solid #E7E7E7;
          border-radius: 0 25px 25px 0; }
        body header nav li .active {
          background: #E7E7E7;
          color: #171717; }
  body div.content {
    display: flex;
    flex-direction: column; }
    body div.content hr {
      size: 1px; }
    body div.content section {
      z-index: -500;
      color: #171717;
      border-sizing: border-box;
      padding: 50px 0; }
      body div.content section h1 {
        font-size: 4rem;
        font-family: helveticaneue;
        padding: 0;
        margin: 0; }
      body div.content section p {
        font-family: helveticaneue;
        width: 45%; }
    body div.content .about {
      z-index: -5000;
      order: -1;
      color: #FBFBFB;
      height: 500px;
      background: #FBFBFB url(/img/peterback.png) no-repeat center center fixed;
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
      padding: 0;
      justify-content: center;
      align-items: center;
      animation-name: background;
      animation-delay: 1s;
      animation-duration: 50s;
      animation-iteration-count: infinite; }
      body div.content .about .column1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        text-align: center;
        justify-content: center; }
    body div.content .music {
      background: #FBFBFB;
      color: #171717;
      height: 450px;
      background: #FBFBFB;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    body div.content .apparel {
      color: #FBFBFB;
      height: 450px;
      padding: 0;
      background: #FBFBFB url(/img/peterfront.jpg) no-repeat top center fixed; }
      body div.content .apparel .column2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        text-align: center;
        justify-content: center; }
  body footer {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    color: #171717;
    font-family: helveticaneue-ultralight;
    background: #FBFBFB; }
    body footer .footer1 {
      width: 50%; }

/*# sourceMappingURL=compiled.css.map */
