/*
Error: Undefined variable: "$whiteBack".
        on line 14 of sass/components.sass

9:   font-weight: 300
10:   z-index: 10000
11:   transition: 0.3s
12:   box-sizing: border-box
13:   background: rgba(255,255,255,0.3)
14:   color: $whiteBack
15:   border: thin solid white
16:   &:hover
17:     background: rgba(255,255,255,0.8)
18:     border: thin solid rgba(255,255,255,0)
19:     color: $matteGrey

Backtrace:
sass/components.sass:14
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/samforderer/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/listener.rb:252:in `call'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/listener.rb:252:in `on_change'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `call'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `report_changes'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Users/samforderer/.rvm/gems/ruby-2.1.2@global/gems/listen-1.3.1/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$whiteBack\".\A         on line 14 of sass/components.sass\A \A 9:   font-weight: 300\A 10:   z-index: 10000\A 11:   transition: 0.3s\A 12:   box-sizing: border-box\A 13:   background: rgba(255,255,255,0.3)\A 14:   color: $whiteBack\A 15:   border: thin solid white\A 16:   &:hover\A 17:     background: rgba(255,255,255,0.8)\A 18:     border: thin solid rgba(255,255,255,0)\A 19:     color: $matteGrey"; }
