html {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #171717;
  overflow-x: hidden; }

p {
  line-height: 1.8;
  font-size: 1.1em;
  font-family: Roboto;
  font-weight: 300;
  text-align: left; }

h1 {
  letter-spacing: -3px; }

body {
  background: url(/img/zwartevilt.png);
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-x: hidden; }
  body .intro {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    box-sizing: border-box;
    height: 100vh;
    background-size: cover; }
    body .intro .skully {
      width: 300px;
      height: auto;
      margin-bottom: 100px; }
    body .intro .static-triangle {
      position: relative;
      width: 15px;
      height: auto;
      left: 15px; }
    body .intro .triangle {
      position: relative;
      width: 15px;
      height: auto;
      -webkit-animation-name: flyDown;
      -moz-animation-name: flyDown;
      animation-name: flyDown;
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s;
      animation-delay: 4s;
      -webkit-animation-duration: 5s;
      -moz-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
@keyframes flyDown {
  0% {
    top: -10px;
    opacity: 1; }
  50% {
    top: 200px;
    opacity: 0; }
  100% {
    top: -5px;
    opacity: 0; } }
  body header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #171717;
    padding-bottom: 115px;
    box-shadow: 0px -2px 10px 3px #000;
    z-index: 100;
    position: relative; }
    body header .logo {
      text-align: center;
      font-family: Road Rage;
      font-size: 6.2em;
      color: #E7E7E7;
      margin-bottom: 0px;
      padding: 0; }
      @media screen and (max-width: 700px) {
        body header .logo {
          font-size: 4em; } }
      @media screen and (max-width: 464px) {
        body header .logo {
          font-size: 3.1em; } }
    body header nav {
      border-radius: 24px;
      margin: 0 auto;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 8px 0px;
      list-style: none; }
      @media screen and (max-width: 524px) {
        body header nav {
          display: none; } }
      body header nav li {
        margin: 0; }
        body header nav li a {
          font-family: helveticaneue-ultralight;
          color: #E7E7E7;
          text-decoration: none;
          font-size: 1.5em;
          padding: 2.5px 45px;
          margin: 0px;
          transition: 0.3s; }
          body header nav li a:hover {
            background: #E7E7E7;
            color: #171717; }
        body header nav li .middle {
          margin: 0;
          border-top: 1px solid #E7E7E7;
          border-bottom: 1px solid #E7E7E7; }
        body header nav li .left {
          border: 1px solid #E7E7E7;
          border-radius: 25px 0 0 25px; }
        body header nav li .right {
          border: 1px solid #E7E7E7;
          border-radius: 0 25px 25px 0; }
        body header nav li .active {
          background: #E7E7E7;
          color: #171717; }
  body div.content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body div.content section {
      color: #171717;
      border-sizing: border-box;
      padding: 50px 0; }
      body div.content section h1 {
        font-size: 3rem;
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        padding: 0;
        margin: 0;
        text-align: left; }
    body div.content .about {
      color: #FBFBFB;
      height: 100vh;
      background-size: cover;
      background: #FBFBFB url(/img/peterback.png) no-repeat center center fixed;
      padding: 0; }
      body div.content .about .transparent {
        background: linear-gradient(80deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center; }
        body div.content .about .transparent .column1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 100%;
          max-width: 800px;
          text-align: center;
          padding: 15px;
          opacity: 0;
          transition: 1s;
          transform: translateX(-100px); }
          body div.content .about .transparent .column1.is-showing {
            opacity: 1;
            transform: translateX(0px); }
          body div.content .about .transparent .column1 a {
            text-decoration: none;
            font-size: 1.5em;
            align-self: flex-start;
            padding: 15px 15px;
            margin: 0;
            border-radius: 5px;
            font-family: roboto;
            font-weight: 600;
            letter-spacing: 10px;
            z-index: 10000;
            transition: 0.3s;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.3);
            color: #FBFBFB;
            border: thin solid white;
            text-transform: uppercase; }
            body div.content .about .transparent .column1 a:hover {
              background: rgba(255, 255, 255, 0.8);
              border: thin solid rgba(255, 255, 255, 0);
              color: #171717; }
    body div.content .music {
      color: #171717;
      background-size: cover;
      background: #FBFBFB;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      padding: 100px 0px;
      justify-content: center;
      align-items: center; }
      body div.content .music .column1 {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        max-width: 800px;
        width: 100%;
        padding: 15px; }
      body div.content .music iframe {
        width: 100%; }
      body div.content .music .passage {
        text-align: center;
        font-size: 0.9em;
        font-weight: bolder;
        margin-top: 50px; }
      body div.content .music .social-media {
        width: 300px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        margin-top: 25px; }
        body div.content .music .social-media .soundcloud {
          color: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          transition: 0.4s; }
          body div.content .music .social-media .soundcloud:hover {
            color: #ff5500; }
        body div.content .music .social-media .youtube {
          color: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          transition: 0.4s; }
          body div.content .music .social-media .youtube:hover {
            color: #cc181e; }
        body div.content .music .social-media .spotify {
          color: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          transition: 0.4s; }
          body div.content .music .social-media .spotify:hover {
            color: #23cf5f; }
    body div.content .apparel {
      color: #FBFBFB;
      height: 100vh;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      background: #FBFBFB url(/img/peterandkim.jpg) no-repeat center right fixed; }
      body div.content .apparel .transparent {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body div.content .apparel .transparent .column2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 100%;
          max-width: 800px;
          text-align: center;
          padding: 15px;
          opacity: 0;
          transition: 1s;
          transform: translateX(-100px); }
          body div.content .apparel .transparent .column2.is-showing {
            opacity: 1;
            transform: translateX(0px); }
          body div.content .apparel .transparent .column2 a {
            text-decoration: none;
            font-size: 1.5em;
            align-self: flex-start;
            padding: 15px 50px;
            margin: 0;
            border-radius: 5px;
            font-family: roboto;
            font-weight: 600;
            letter-spacing: 10px;
            z-index: 10000;
            transition: 0.3s;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.3);
            color: #FBFBFB;
            border: thin solid white;
            text-transform: uppercase; }
            body div.content .apparel .transparent .column2 a:hover {
              background: rgba(255, 255, 255, 0.8);
              border: thin solid rgba(255, 255, 255, 0);
              color: grey; }
          body div.content .apparel .transparent .column2 h1 {
            align-self: flex-start; }
  body footer {
    z-index: 20;
    display: flex;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFBFB; }
    body footer .column {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgba(0, 0, 0, 0.5);
      max-width: 800px;
      width: 100%;
      flex-flow: row; }
      @media screen and (max-width: 826px) {
        body footer .column {
          flex-flow: column;
          height: auto; } }
      body footer .column span {
        text-align: center; }
        @media screen and (max-width: 826px) {
          body footer .column span {
            width: 100%; } }
      body footer .column .icons {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 266.666px; }
        @media screen and (max-width: 826px) {
          body footer .column .icons {
            order: -1;
            max-width: 100%; } }
        body footer .column .icons a {
          color: rgba(0, 0, 0, 0.5);
          transition: 0.4s; }
          body footer .column .icons a:hover {
            color: #171717; }

/*# sourceMappingURL=main.css.map */
