body{
  background-color: #1C1C1C;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.intro {
  margin: 0 auto;
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.skully {
  width: 350px;
  height: auto;
  z-index: -500;
}

header{
  text-align: center;
  background-size: cover;
  margin-top: 10px;
}
.logo{
  text-align: center;
  font-family: Road Rage;
  font-size: 6.5em;
  color: #C7AA4E;
  margin-bottom: 0px;
}

nav {
  border: 1px solid #C7AA4E;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 600px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 0px;
  list-style: none;
  overflow-x: auto;
}

nav > li {
  margin: 0px;
  padding: 0px;
}

nav > li > a{
  font-family: helveticaneue-ultralight;
  color: #C7AA4E;
  text-decoration: none;
  font-size: 1.8em;
  padding: 10px 55px;
  margin: 0px;
  transition: 0.3s;
}

.middle {
  border: 1px solid #C7AA4E;
}

.active {
  background: #C7AA4E;
  color: black;
}

/* To remove border from the elements that are on the outside */


nav > li > a:hover{
  background: #C7AA4E;
  color: black;
}

/*Music Section */

.about {
  width: 100%;
  display: flex;
  justfy-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
  font-family: helveticaneue;
  height: 800px;
  margin-top:250px;
  background: #424242;
}

.about > p {
  width: 500px;
  text-align: center;
}
