$gold: #C7AA4E
$whiteBack: #E7E7E7

body
  background-color: black
  margin: 0px
  padding: 0px
  position: relative

  .intro
    margin: 0 auto
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: url(/img/zwartevilt.png)
    border-sizing: border-box
    z-index: -501

    .skully
      width: 300px
      height: auto
      //z-index: -500
      margin-bottom: 100px

    .triangle
      position: relative
      transition: opacity 300ms ease-in-out 5s

  header
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: url(/img/zwartevilt.png)
    padding-bottom: 115px
    .logo
      text-align: center
      font-family: Road Rage
      font-size: 6.5em
      color: $gold
      margin-bottom: 0px
      padding: 0

    nav
      border-radius: 24px
      margin: 0 auto
      display: flex
      height: 40px
      justify-content: center
      align-items: center
      box-sizing: border-box
      padding: 8px 0px
      list-style: none
      li
        margin: 0
        a
          font-family: helveticaneue-ultralight
          color: $gold
          text-decoration: none
          font-size: 1.8em
          padding: 2.5px 50px
          margin: 0px
          transition: 0.3s

          &:hover
            background: $gold
            color: black

        .middle
          margin: 0
          border-top: 1px solid $gold
          border-bottom: 1px solid $gold
        .left
          border: 1px solid $gold
          border-radius: 25px 0 0 25px
        .right
          border: 1px solid $gold
          border-radius: 0 25px 25px 0
        .active
          background: $gold
          color: black

  .about
    width: 100%
    color: white
    font-family: helveticaneue
    height: 800px
    margin-top: 50px
    border-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 50px

    p
      max-width: 1000px
      column-width: 300px


  footer
    display: flex
    padding: 0 50px
    justify-content: space-between
    align-items: center
    color: $gold
    font-family: helveticaneue
    .footer1
      width: 50%
