doctype
html(lang='eng')
  head
    meta(charset='UTF-8')
    title doughjummy
    link(rel='stylesheet' type='text/css' href='css/compiled.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='node_modules/easing/browser-easing.js')
    script(type='text/javascript' src='js/script.js')
    script(type='text/javascript' src='js/scrolling.js')
  body
    section.intro
      img.skully(src='img/logo.svg')
      
      a(href='#header' id='header')
        img.triangle(src='img/triangle.png')
      
    header(id='headerSection')
      h1.logo doughjummy
      
      nav 
        li 
          a.left(href='#' id='home') HOME    
        li 
          a.middle(href='#') MUSIC
        li
          a.right(href='#') APPAREL
          
    section.about 
      p doughjummy
      
    footer
      p.footer1 footer content
      p.footer2 designed by sam & dan
      p.footer3 version 1.0.0
      
          
      
