doctype
html(lang='eng')
  head
    meta(charset='UTF-8')
    title doughjummy
    link(rel='stylesheet' type='text/css' href='css/compiled.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='node_modules/easing/browser-easing.js')
    script(type='text/javascript' src='js/script.js')
    script(type='text/javascript' src='js/scrolling.js')
  body
    section.intro
      img.skully(src='img/logo.png')
      
      a(href='#header' id='header')
        img.static-triangle(src='img/chevron.png')
        img.triangle(src='img/chevron.png')
      
    header(id='headerSection')
      h1.logo doughjummy
      
      nav 
        li 
          a.left(href='#' id='home') HOME    
        li 
          a.middle(href='#') MUSIC
        li
          a.right(href='#') APPAREL
    div.content
      section.about 
        div.column1
          h1 DOUGHJUMMY
          p DoughJummy is a young, talented, up and coming group from Hamilton, Ontario. With music that is inspired by their trials and tribulations, they are pushing the envelope. Despite their surroundings, they collectively define the phrase "Product Of My Environment" (P.O.M.E.)
          
      section.music
        h1 MUSIC
        p The DoughJummy movement and story is being narrated by Fouryy and KLM. They have succeeded in developing a musical sound that is influenced by their surroundings in North America, and the U.K., infused with a style in Afro Beats that stems from their African upbringing. 

      section.apparel
        div.column2
          h1 APPAREL
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, facilis. Illo rerum, minus reiciendis quas corrupti, doloribus ex recusandae. Perspiciatis aut aspernatur error, blanditiis sunt. Facilis magnam ut ratione laboriosam excepturi, illum quasi. Quam optio ut corporis non sunt iure deleniti, veniam pariatur aspernatur illo perspiciatis dolor modi totam porro.
        
    footer
      p.footer1 footer content
      p.footer2 designed by sam & dan
      p.footer3 version 1.0.0
